*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #222;
  transition: background-color 0.5s ease;
  &::-webkit-scrollbar{
    width: 8px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: rgb(34, 34, 34);

  }
  &::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255, 0.5);
  }

}

html{
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
h1{
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: white;
  padding: 0px 0;
  position: sticky;
  top: 0px;
  z-index: 1;
  animation: titulo linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 100px;
  background-color: rgb(34, 34, 34);
  box-shadow: 0px 4px 10px rgb(34, 34, 34, 0.5);
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.contenedorDeImagenes{
  margin-top: 20px;
  padding: 0px 20px 0 40px;
  columns: 6;
  gap: 18px;
}
.imagen{
  margin-bottom: 18px;
  width: 100%;
  border-radius: 20px;

  transition: all .2s ease;
  &:hover{
    transition-duration: .5s;
    scale: 1.04;
  }
  animation: dx linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;

  }
.divDefecto{
  opacity: 0;
  position: fixed;
}
.divActiva{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 4;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34, 0.8);
  animation: divActivado .2s linear both;
  flex-direction: column;
}

.divEnd{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 4;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34, 0.8);
  animation: divEnd .2s linear both;
  flex-direction: column;
}
.imagenActiva{
  border-radius: 20px;
  width: fit-content;
  max-width: 80%;
  height: fit-content;
  max-height: 80%;
}
.actividad{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.reacciones{
  max-width: 40px;
  max-height: 50px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover{
    scale: 1.2;
    transition: .2s;
  }

}
.expandirse{
  max-width: 40px;
  max-height: 50px;
  transition: all 0.2s;
  animation: burbuja 5s both;
  position: absolute;
  right: 0;
  pointer-events: none;
}
@keyframes burbuja {
from{
  opacity: 1;
}
to{
  scale: .8;
  transform: translateY(-150px);
  opacity: 0;
}
}
input{
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  flex: 1;
  border: solid 1px whitesmoke;
  margin-right: 15px;
  border-radius: 15px;
  height: 40px;
  position: relative;
  color: black;
  padding-left: 10px;
  outline: none;
  ;
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

@keyframes divActivado{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes divEnd{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
@keyframes dx{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
  @keyframes titulo{
    to{
      background-color: rgb(240, 248, 255, 0.5);
      backdrop-filter: blur(5px);
      font-size: 28px;
      color: black;
      height: 50px;
      line-height: 50px;
    }
  }

@media(max-width: 1500px){
  .contenedorDeImagenes{
    columns: 5;
  }
  .imagen{
    margin-bottom: 15px;
  }
  .contenedorDeImagenes{
    gap: 15px;

  }
  @media(max-width: 800px){
    h1{
      height: 40px;
      line-height: 40px;
      font-size: 20px;
    }
    .imagen{
      margin-bottom: 5px;
      border-radius: 10px;
    }
    .contenedorDeImagenes{
      columns: 4;
      gap: 5px;
      padding: 0px 10px;
      margin-top: 10px;
    }
    @keyframes titulo{
      to{
        background-color: rgb(240, 248, 255, 0.5);
        backdrop-filter: blur(5px);
        font-size: 18px;
        color: black;
        height: 35px;
        line-height: 35px;
      }
    }

  }
}